.toast-header{
	color: #fff;
}
.float-message{
	bottom: 30px;
	position: absolute;
	left: 10px;
	line-height: 40px;
}
body{
	  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}